@charset "UTF-8";
----------------------------------login------------------------------------
body{
	margin: 0px ;
}
.backing{
/* 	background-image: url("/kondo_miyuki//css/bbs_background.jpg"); */
	background-color: #00d199;
	width: 100%;
	height: 100%;
}

.login_maincontents{
	background-color: #ffffff;
	width: 500px;
	padding: 50px;
	text-align: center;
	margin: 30px auto;
}
.square_btn {
	background: #ffffff;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #00d199;
    border: solid 2px #00d199;
    border-radius: 3px;
    transition: .4s;
}
.square_btn:hover {
    background: #00d199;
    color: #FFFFFF;
}
.errorMessages {
	color: #FF0000;
}
.copyright{
	color: #555555;
}
