.top_body{
	font-color: #555555;
	text-align: center;
	margin: auto;
}

.square_btn35{
    display: inline-block;
    position: relative;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #555555;
    transition: .4s;
}
.square_btn35:hover {
    color:#00d199;
}
.square_btn35:before,.square_btn35:after{
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
.square_btn35:before{
  border-left: solid 1px #00d199;
  border-top: solid 1px #00d199;
  border-bottom: solid 1px #00d199;
  left: 0;
}
.square_btn35:after{
  content: '';
  border-top: solid 1px #00d199;
  border-right: solid 1px #00d199;
  border-bottom: solid 1px #00d199;
  right: 0;
}

input[type="submit"]{
	display: inline-block;
    position: relative;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #555555;
    transition: .4s;
}
input[type="submit"]:hover{
	color:#00d199;
}
input[type="submit"]:before,.square_btn35:after{
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
input[type="submit"]:before{
 border-left: solid 1px #00d199;
  border-top: solid 1px #00d199;
  border-bottom: solid 1px #00d199;
  left: 0;
}
input[type="submit"]:after{
content: '';
  border-top: solid 1px #00d199;
  border-right: solid 1px #00d199;
  border-bottom: solid 1px #00d199;
  right: 0;
}